@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow: auto;
  content: "";
  background-image: url(./images/background_image.jpg);

  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  /* opacity: 0.75; */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
  min-height: 100%;

}



.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}



.experience {
  background: rgb(255, 235, 205);
  margin: 0;
  height:fit-content;
  color: black;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}

.nav {
  float:left;
  height:auto;
  font-size: 2vw;
 
  
}

#exitSidebar {
  padding: .5rem 1rem;
  font-size: 2vw;
  color: #0d6efd;
  font-weight: bold;
  cursor: pointer;
}


.sidebar{
  width: 20vw;
  min-width: 100px;
  background-color:#F8F9FA;
  position: fixed;
  z-index: 3;
  left: -150%;
  border-right: solid 2px black;
  border-bottom: solid 2px black;
  /* height: 100vh; */
  transition: 350ms;
  display: flex;
  justify-content: center;

}


.sidebar.active{
  left: 0;
  
}
.nav a:hover{
  background-color:lightblue; 
}

.nav-item {
  width: 100%;
}
.contentBody {
  width: 100vw;
  color: gold;
  /* height: 90vh; */
  /* margin: 0 2% 0 2%; */
  padding: 0 1% 0 1%;
}

#profilePicture {
  height: 10vh;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}

#header {
  margin: 1%;
  
  color: gold;
  margin-top: 10px;
  margin-bottom: 10px;
  
}

#staticHeaderText {
  z-index: 2;
}
#resumeButton {
  
  float: right;
  transition: 0.7s;
  font-size: auto;
  max-width:20%;
}

#resumeButton:hover{
  transform: scale(1.2);
}


.icon {
  color: gold;
}

.clickAbleText {
  cursor: pointer;
}

#educationArea {
  display: grid;
  justify-content: center;
}

.educationCard {
  /* margin-right: 10px; */
  color: black;
  padding-bottom: 5px;
  width: auto;
  max-width: 485px;
  
}
.educationCard .card {
  width: auto;
  max-width: 485px;
  min-height: auto;
  /* height: 500px; */
  border: 1px solid black;
 
}

.sectionTitle {
  text-align: center;
  text-decoration: underline;
  display: grid;
  justify-content: center;
  width: 100%;
}

#awardsArea {
  background-image: url(./images/blankPlaque.jpg);
  box-shadow: 10px #888888;
  color: black;
  min-height: 600px;
  width: 100%;
  background-repeat: no-repeat;
  /* margin-right: 5%; */
  background-size:cover;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 1px solid;
  /* padding: 10px; */
  box-shadow: 10px 20px black;

}

.awardPlate {
  background-image: url(./images/blankPlate.png);
  color: black;
  height: 150px;
  min-width: 350px;
  background-repeat: no-repeat;
  /* margin-right: 5%; */
  background-size:cover;
  text-align: center;
  margin:2% 3.5% 2% 3.5%;
  font-size: 100%;
  padding-top: 50px;
}

.breaker {
  background-color: gray;
  height: 100%;
  flex-basis: 100%;
}

#skillsArea {
  color: black;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.skill {
  background-color: rgb(255, 235, 205);
  width: 150px;
  height:120px;
  margin: 5px;
  justify-content: center;
  text-align: center;
  font-size: 120%;
  font-weight:bold;
  padding-top: 10px;
  border-style: solid;
  box-shadow: 4px 6px black;
 
} 

.skillText {
  position: relative;
  top: 10%;
  transform: translateY(-50%);
}

#projectsArea {
  color: black;
  background-color: rgb(255, 235, 205);
  height: 80vh;
  overflow: auto;
  border-style:solid ;
  max-width: 100%;
}

.project {
  margin: 5px;
  border-bottom: solid;
  padding: 5px;
}

#aboutMeArea {
  
  background-image: url(./images/aboutMeBackground.jpg);
  min-height: 70vh;
  width: 100%;
  background-repeat: no-repeat;

  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size:cover;
  /* margin: ; */
  color: black;
  padding:5%;
  font-family: cursive;
}

.multi-column {
  list-style-position: inside;
}

#topBar {
  color: blue;
  background-color: #F8F9FA;
  width: 100%;
  font-size: 2rem;
}

#footer {
  padding-bottom: 10px;
  text-align: center;
  color: black;
  font-weight: bold;
}

@media only screen and (min-width:500px) {
  
  #headerText {
    font-size: 20px;
    
    text-align: left;
  }
  .experience .floatLeft {
    float: left;
  }

  .experience p {
    float: left;
    text-indent: 20pt;
  }

  .experience .floatRight {
    float: right;
    text-align: right;
  }

}

@media only screen and (max-width:500px) {
  .sidebar{
    width: 40vw;
  }

  .nav-link {
    font-size: 20px;
  }
}



#homepage {
  margin-top: 2vh;
  padding: 2vh;
  font-weight: bold;
  color: #000;
  text-align: center;
  font-size: 3vw;
  background: white;
  opacity: 0.90;
  width: fit-content;
  height: fit-content;
  margin: auto;
}